extends layout
block content
  
  div.row
    div.col-xs-12.col-sm-8.col-md-8.col-lg-5
      -data = data || {}

      if errors
        for error in errors
          div.alert.alert-warning= error.msg
          
      form(action=`/update/${data.expenseid}` method="POST" class="form-registration")
        label(for="expenseDate") Expense Date:
        input(
          type="date"
          id="expenseDate"
          name="expenseDate"
          class="form-control"
          value=data.expense_date ? data.expense_date.toISOString().substring(0, 10) : data.expense_date
        )
        br

        label(for="description") Description:
        textarea.form-control(
          name="description"
          rows="2"
          placeholder="Cookies and Ice Cream..."
        )= data.description
        br

        label(for="category") Category:
        select.form-control(
          name="category"
          value=data.category
        )
          option(value="Groceries", selected=(data.payment_type === 'Groceries')) Groceries
          option(value="Other", selected=(data.payment_type === 'Other')) Other
        br

        label(for="paymentType") Payment Type:
        select.form-control(
          name="paymentType"
        )
          option(value="Visa", selected=(data.payment_type === 'Visa')) Visa
          option(value="Cash", selected=(data.payment_type === 'Cash')) Cash
        br

        label(for="amount") Amount:
        input(
          type="text"
          id="amount"
          name="amount"
          class="form-control"
          value=data.amount
        )
        br

        input.btn.btn-lg.btn-primary.btn-block(
          type="submit"
          value="Update Expense!"
        )

